<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chargedot.refund.mapper.ChargeOrderMapper">

    <!--findBySequenceNumber-->
    <select id="findBySequenceNumber" parameterType="java.lang.String" resultType="com.chargedot.refund.model.ChargeOrder">
        SELECT
          id AS id,
          order_number AS orderNumber,
          cert_id AS certId,
          user_id AS userId,
          start_detail AS startDetail,
          port_id AS portId,
          device_id AS deviceId,
          station_id AS stationId,
          sequence_number AS sequenceNumber,
          start_type AS startType,
          started_at AS startedAt,
          finished_at AS finishedAt,
          duration AS duration,
          duration_plan AS durationPlan,
          payment AS payment,
          payment_act AS paymentAct,
          payment_virtual AS virtualPayment,
          refund_virtual AS virtualRefund,
          pay_src AS paySrc,
          order_type AS orderType,
          pay_status AS payStatus,
          order_status AS orderStatus,
          charge_finish_reason AS chargeFinishReason,
          fee_detail_snap AS feeDetailSnap,
          pay_type AS payType
        FROM dw_charge_order WHERE sequence_number=#{sequenceNumber} AND is_del=0 LIMIT 1
    </select>

    <select id="findByPortIdLast" parameterType="java.lang.Integer" resultType="com.chargedot.refund.model.ChargeOrder">
        SELECT
          id AS id,
          order_number AS orderNumber,
          cert_id AS certId,
          user_id AS userId,
          start_detail AS startDetail,
          port_id AS portId,
          device_id AS deviceId,
          station_id AS stationId,
          sequence_number AS sequenceNumber,
          start_type AS startType,
          started_at AS startedAt,
          finished_at AS finishedAt,
          duration AS duration,
          duration_plan AS durationPlan,
          payment AS payment,
          payment_act AS paymentAct,
          payment_virtual AS virtualPayment,
          refund_virtual AS virtualRefund,
          pay_src AS paySrc,
          order_type AS orderType,
          pay_status AS payStatus,
          order_status AS orderStatus,
          charge_finish_reason AS chargeFinishReason,
          fee_detail_snap AS feeDetailSnap,
          pay_type AS payType
        FROM dw_charge_order WHERE port_id=#{portId} AND is_del=0 ORDER BY id DESC LIMIT 1
    </select>

    <!--insert-->
    <insert id="insert" parameterType="com.chargedot.refund.model.ChargeOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO dw_charge_order
          (id, order_number, sequence_number, start_detail, cert_id, user_id, port_id, device_id, station_id, start_type, duration_plan, order_status, payment, payment_act, payment_virtual, pay_src, pay_status, pay_type, fee_detail_snap)
        VALUES
          (NULL, #{orderNumber}, #{sequenceNumber}, #{startDetail}, #{certId}, #{userId}, #{portId}, #{deviceId}, #{stationId}, #{startType}, #{durationPlan}, #{orderStatus}, #{payment}, #{paymentAct}, #{virtualPayment}, #{paySrc}, #{payStatus}, #{payType}, #{feeDetailSnap})
    </insert>

    <!--update-->
    <update id="update" parameterType="com.chargedot.refund.model.ChargeOrder">
        UPDATE dw_charge_order
        <set>
            <if test="payment != null">
                payment=#{payment},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="orderStatus != null">
                order_status=#{orderStatus},
            </if>
            <if test="orderType != null">
                order_type=#{orderType},
            </if>
            <if test="chargeFinishReason != null">
                charge_finish_reason=#{chargeFinishReason},
            </if>
            <if test="payedOrderAt != null">
                payed_order_at = #{payedOrderAt},
            </if>
            <if test="finishedAt != null">
                finished_at=#{finishedAt},
            </if>
            <if test="duration != null">
                duration=#{duration}
            </if>
            <if test="payType != null">
                ,pay_type=#{payType}
            </if>
        </set>
        WHERE sequence_number=#{sequenceNumber} AND is_del=0
    </update>

    <!--updatePayStream-->
    <update id="updatePayStream">
        UPDATE dw_charge_order
        <set>
          <if test="payStreamId != null">
              pay_stream_id=#{payStreamId}
          </if>
        </set>
        WHERE sequence_number=#{sequenceNumber} AND is_del=0
    </update>

    <!--refundUpdate-->
    <update id="refundUpdate" parameterType="com.chargedot.refund.model.ChargeOrder">
        UPDATE dw_charge_order
        <set>
            <if test="payment != null">
                payment=#{payment},
            </if>
            <if test="paymentAct != null">
                payment_act=#{paymentAct},
            </if>
            <if test="refundAct != null">
                refund_act=#{refundAct},
            </if>
            <if test="virtualPayment != null">
                payment_virtual=#{virtualPayment},
            </if>
            <if test="virtualRefund != null">
                refund_virtual=#{virtualRefund},
            </if>
            <if test="orderType != null">
                order_type=#{orderType},
            </if>
            <if test="orderStatus != null">
                order_status=#{orderStatus},
            </if>
            <if test="chargeFinishReason != null">
                charge_finish_reason=#{chargeFinishReason},
            </if>
            <if test="finishedAt != null">
                finished_at=#{finishedAt},
            </if>
            <if test="refundOrderAt != null">
                refund_order_at=#{refundOrderAt}
            </if>
            <if test="payStatus != null">
                , pay_status=#{payStatus}
            </if>
        </set>
        WHERE sequence_number=#{sequenceNumber} AND is_del=0
    </update>

    <!--updateRefundStream-->
    <update id="updateRefundStream">
        UPDATE dw_charge_order
        <set>
            <if test="refundStreamId != null">
                refund_stream_id=#{refundStreamId}
            </if>
        </set>
        WHERE sequence_number=#{sequenceNumber} AND is_del=0
    </update>

</mapper>